.wrapper {
  width: 360px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.block {
  display: flex;
  flex-direction: column;
}

.label {
  font-size: 14px;
  color: #6c6c6c;
}

.location {
  padding: 14px;
  border-radius: 8px;
  background: #f7f7f7;
  border: none;
}

.title {
  font-size: 14px;
  font-weight: 500;
  font-family: "inter", sans-serif;
  color: rgba(71, 84, 103, 1);
}

.sub {
  margin-top: 32px;
  font-size: 20px;
  font-weight: 600;
  font-style: semibold;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 8px;
}
.line-category {
    width: 100%;
    height: 1px;
    background: rgba(218, 221, 225, 1);
    margin: 24px 0;
}
.checkbox {
  border-radius: 10px;
  width: 112px;
  height: 96px;
  padding: 14px;
  border: 1px solid rgba(0,0,0,0.2);
  background: white;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
.iconcategoryPanel {
  width: 32px;
  height: 32px;
}
.checkbox:hover {
  border-color: rgba(228, 72, 72, 1);
}

.checkbox.active {
  border-color: rgba(228, 72, 72, 1);
}

.apply {
 background: rgba(228, 72, 72, 1);
  color: white;
  border: none;
  padding: 16px 40px;
  border-radius: 200px;
  width: 170px;
  font-family: 'inter', sans-serif;
  font-style: medium;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: -0.5%;
}

.reset {
  padding: 10px;
  border: none;
  background: transparent;
  color: gray;
}
.Like {
  cursor: pointer;
  transition: 0.3s;
}
.Like:hover {
  transform: scale(1.1);
}
.Price-like {
  display: flex;
  gap: 12px;
  align-items: center;
  justify-content: center;
}
