.list {
  display: flex;
  flex-direction: column;
  gap: 32px;
  width: 888px;
  max-width: 888px;
}

.card {
  display: flex;
  gap: 24px;
  padding: 24px;
  border: 1px solid rgba(218, 221, 225, 1);
  border-radius: 20px;
}

.image img {
  border-radius: 10px;
  object-fit:cover;
  height: 320px;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.container-price {
  display: flex;
  flex-direction: column;
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.price {
  font-size: 24px;
  font-family: "inter", sans-serif;
  font-weight: 600;
}

.meta {
  color: gray;
  display: flex;
  gap: 16px;
  margin: 8px 0px 0px 0px ;
}

.desc {
  color: #777;
  margin-bottom: 10px;
   display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
}

.tags {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

.tags span {
  background: rgba(242, 244, 247, 1);
  padding: 12px 18px;
  border-radius: 100px;
  font-size: 16px;
  font-family: "inter", sans-serif;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 8px;
}


.btn {
  background: rgba(228, 72, 72, 1);
  color: white;
  border: none;
  padding: 16px 40px;
  border-radius: 200px;
  width: 170px;
  font-family: 'inter', sans-serif;
  font-style: medium;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: -0.5%;
  transition: 0.3s;
}
.btn:hover {
    background: rgba(196, 52, 52, 1);
    cursor: pointer;
}
.btnmore {
    color: rgba(16, 24, 40, 1);
    font-weight: 500;
    font-family: "inter", sans-serif;
    font-size: 16px;
    padding: 16px 32px;
    width: 150px;
    border: 1px solid rgba(218, 221, 225, 1);
    border-radius: 200px;
    background-color: white;
    margin: 0 auto;
}
.btnmore:hover {
    border: 1px solid rgba(216, 67, 67, 1);
    cursor: pointer;
}
.raiting-star {
  display: flex;
  align-items: center;
  gap: 4px;
}


/* ----- Loader */
.loader {
  position: relative;
  margin: 0 auto;
  width: 130px;
  height: 100px;
  background-repeat: no-repeat;
  background-image: linear-gradient(rgba(216, 67, 67, 1), rgb(181, 74, 74)),
  linear-gradient(#29b6f6, #4fc3f7), linear-gradient(#29b6f6, #4fc3f7);
  background-size: 80px 70px, 30px 50px, 30px 30px;
  background-position: 0 0, 80px 20px, 100px 40px;
}
.loader:after {
  content: "";
  position: absolute;
  bottom: 10px;
  left: 12px;
  width: 10px;
  height: 10px;
  background: #fff;
  border-radius: 50%;
  box-sizing: content-box;
  border: 10px solid #000;
  box-shadow: 78px 0 0 -10px #fff, 78px 0 #000;
  animation: wheelSk 0.75s ease-in infinite alternate;
}

.loader:before {
  content: "";
  position: absolute;
  right: 100%;
  top: 0px;
  height: 70px;
  width: 70px;
  background-image: linear-gradient(#fff 45px, transparent 0),
    linear-gradient(#fff 45px, transparent 0),
    linear-gradient(#fff 45px, transparent 0);
  background-repeat: no-repeat;
  background-size: 30px 4px;
  background-position: 0px 11px, 8px 35px, 0px 60px;
  animation: lineDropping 0.75s linear infinite;
}

@keyframes wheelSk {
  0%, 50%, 100% { transform: translatey(0) }
  30%, 90% { transform: translatey(-3px) }
}

@keyframes lineDropping {
  0% {
    background-position: 100px 11px, 115px 35px, 105px 60px;
    opacity: 1;
  }
  50% { background-position: 0px 11px, 20px 35px, 5px 60px }
  60% { background-position: -30px 11px, 0px 35px, -10px 60px }
  75%, 100% {
    background-position: -30px 11px, -30px 35px, -30px 60px;
    opacity: 0;
  }
}

